@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.cryst {
  position: relative;
  width: 1590px;
  height: 3153px;
}
.cryst header {
  width: 1520px;
  height: 950px;
  background: url("images/Rectangle 226.png");
}
.wrapper .footer {
  width: 1550px;
  height: 950px;
  background: url("images/Rectangle 227.png");
  margin-top: 20px;
  left: 5px;
  top: 1950px;
}

.cryst .scr-img {
  position: absolute;
  width: 1530px;
  height: 720px;
  margin-left: -10px;
  margin-top: 250px;
}

.wrapper {
  width: 1520px;
  height: 1169px;
  left: 0px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo img {
  position: absolute;
  width: 40px;
  height: 60px;
  left: 50px;
  margin-top: 30px;
}
header nav {
  margin-bottom: 120px;
}
/* Pop Rock Crystal */
nav p {
  position: absolute;
  width: 152px;
  height: 26px;
  margin-left: 95px;
  margin-top: 50px;

  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height, or 130% */

  color: #ffffff;
}
nav ul {
  position: absolute;
  width: 338px;
  height: 30px;
  margin-left: 650px;
  margin-top: 50px;
}
ul li {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  display: flex;
  float: left;
  align-items: center;
  margin-right: 20px;
}
ul li a {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}
nav .basket {
  position: absolute;
  width: 50px;
  height: 30px;
  margin-left: 1380px;
}
.basket .amt {
  width: 30px;
  margin-top: 50px;
  margin-right: -45%;
  margin-bottom: -9%;
}
.basket .ion-bask {
  position: absolute;
  width: 30px;
  height: 40px;
  margin-left: 5px;
  margin-top: 40px;
}
.heading-section .left {
  position: absolute;
  width: 707px;
  height: 123px;
  margin-left: 60px;
  margin-top: 90px;
}
.left h1 {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 65px;
  /* or 162% */

  color: #ffffff;
}
.left span {
  font-family: Google Sans;
  font-size: 64px;
  font-weight: 700;
  line-height: 65px;
  text-align: left;
}
.heading-section .about-us {
  position: absolute;
  width: 400px;
  font-family: Google Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(49, 84, 109, 1);
}

.shop-about a {
  text-decoration: none;
}
.shop-about .shop-btn {
  font-family: Google Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: rgba(49, 113, 137, 1);

  position: absolute;
  width: 150px;
  height: 56px;
  left: 5px;
  margin-top: 120px;
  padding: 15px;
  background: linear-gradient(90deg, #ffffff 0%, #f1faff 100%);
  box-shadow: 0px 20px 40px rgba(255, 255, 255, 0.15);
  border-radius: 18px;
}
.heading-section .about {
  position: absolute;
  width: 283px;
  height: 56px;
  left: 170px;
  top: 330px;
  font-family: Google Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.heading-section .about a {
  text-decoration: none;
}
.heading-section .right {
  position: absolute;
  width: 569px;
  height: 554px;
  left: 740px;
  margin-top: -250px;
  background: #ffffff;
  /* Drop Shadow */
  box-shadow: 0px 10px 50px rgba(39, 50, 60, 0.25);
  border-radius: 50px;
  border: 1px solid black;
}
.heading-section .right p {
  position: absolute;
  width: 97px;
  height: 40px;
  top: 50px;
  background: #8a93e6;
  border-radius: 0px 8px 8px 0px;
}
.heading-section .right .rig-img {
  position: absolute;
  width: 662px;

  left: 70px;
  top: 50px;
  background: url("images/Без имени-1 1.png");
  background-repeat: no-repeat;
  background-size: 400px;
}
.rig-img {
  width: 100%;
  height: 400px; /* Adjust the height according to your design */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.heading-section .right .rig-img h6 {
  position: absolute;
  width: 350px;
  height: 24px;
  left: 50px;
  top: 375px;

  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #818181;
}
.heading-section .rig-img .rectangle {
  position: absolute;
  width: 120px;
  height: 2px;
  left: 155px;
  top: 405px;

  background: #f2f2f2;
  border-radius: 1px;
}
.clicking {
  position: absolute;
  width: 158px;
  height: 14px;
  left: 1026px;
  top: 767px;
  display: flex;
  flex-direction: column;
}
.arrow-left-right {
  display: flex;
  align-items: center;
  margin-left: -40%;
}
#thumbnailContainer {
  display: flex;
  margin: 0 15px;
}

#thumbnailContainer a {
  margin: 0 5px;
}
#thumbnailContainer a img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0.6;
  transition: opacity 0.3s, transform 0.3s;
}
.active-thumbnail {
  opacity: 1; /* Full opacity for active thumbnail */
  transform: scale(1.1); /* Scale up active thumbnail */
  border: 2px solid #ff9800; /* Optional border for active thumbnail */
}

.clicking .scroll-down {
  display: inline;
  flex-direction: column;
  margin-left: -420px;
}
.scroll-down img {
  height: 50px;
}
.scroll-down span {
  width: 77px;
  height: 24px;
  top: 40px;
  left: 459px;

  font-family: Google Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.scroll-down a.btn {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #317189;
}
.wrapper .product-section {
  position: absolute;
  width: 1580px;
  height: 1084px;
  left: 0px;
  top: 1150px;

  background: #ffffff;
}
.product-section .heading {
  position: absolute;
  width: 322px;
  height: 202px;
  left: 575px;
  top: -20%;
  font-family: Google Sans;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  color: rgba(49, 84, 109, 1);
  margin-bottom: 10px;
}

.heading img {
  position: absolute;
  width: 58px;
  height: 4px;
  left: 130px;
  top: 125px;
  background: #f2f2f2;
  border-radius: 24px;
}
.filter-sort {
  display: flex;
}
.filter-sort.filter {
  display: flex;
  gap: 15px;
  margin-right: 190px;
  position: absolute;
  width: 169px;
  height: 60px;
  left: 50px;
}
/* Filter: */
.filter-sort .filter h4 {
  position: absolute;
  width: 45px;
  height: 30px;
  left: 70px;
  top: -40px;

  font-family: "Google Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;

  color: #9ab0c0;
}
.filter-sort .filter p {
  color: #9ab0c0;

  position: absolute;
  width: 170px;
  height: 30px;
  left: 125px;
  top: -35px;
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  display: flex;
  align-items: center;

  color: #31546d;
}
.filter-sort.filter a {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 120px;
  top: 40%;
  background: #31546d;
  border-radius: 2px;
  transform: rotate(180deg);
}

.filter-sort .sort h4 {
  position: absolute;
  width: 38px;
  height: 30px;
  left: 409px;
  top: -40px;

  font-family: "Google Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;

  color: #9ab0c0;
}
.filter-sort .sort p {
  position: absolute;
  width: 120px;
  height: 30px;
  left: 457px;
  top: -35px;

  font-family: "Google Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;

  color: #31546d;
}
.product-details {
  margin-top: 40px;
  width: 100%;
  height: auto;
  margin-left: 50px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.filter-sort .sorta img {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 106px;
  top: 25%;

  background: #31546d;
  border-radius: 1px;
  transform: rotate(180deg);
}
.product-details .product-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 322px;
  height: 412px;
  left: 50px;
}
.product-item {
  border-radius: 30px;
  width: 322px;
  height: 412px;
  margin: 10px;
}
.product-img {
  width: 198px;
  height: 198px;
  margin-top: 50px;
  margin-left: 50px;
  position: absolute;
}

.product-item .item-details {
  width: 450px;
  height: 48px;
  margin-left: -45px;
  margin-bottom: 40px;
}
.item-details p.name {
  margin-left: 10px;
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-left: 45px;
  /* or 120% */

  text-transform: uppercase;

  /* Gray 2 */
  color: #4f4f4f;
}
span.price {
  font-family: Google Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin-top: 20px;
  margin-left: 90px;
}
.product-item .buy-now {
  position: absolute;
  width: 157px;
  height: 46px;
  left: 50px;
  top: 298px;
  border-radius: 18px;
  box-sizing: border-box;
}
.buy-now a {
  position: absolute;
  width: 157px;

  text-align: center;

  font-family: "Google Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  padding: 10px;
  border-radius: 18px;
  box-sizing: border-box;
  border: 2px solid #75cceb;
  /* identical to box height, or 171% */

  background: rgba(255, 255, 255, 1);
  background: linear-gradient(90deg, #75cceb 0%, #6fb4ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.product-item .buy-now:hover {
  background: linear-gradient(90deg, #75cceb 0%, #6fb4ff 100%);
  background: linear-gradient(90deg, #0a021d 0%, #0d0d0e 100%);
}

.wrapper .footer {
  position: absolute;
  width: 1550px;
  height: 950px;
  background: url("images/Rectangle 227.png");
  margin-top: 20px;
  left: 5px;
  top: 1950px;
}

.wrapper .footer .foot-img {
  width: 1517px;
  height: 950px;
}
.footer {
  display: grid;
  margin-top: 0;
}

.footer .view-all {
  position: absolute;
  width: 124px;
  height: 48px;
  top: 98px;
  left: 690px;
}
.footer .view-all .btn {
  position: absolute;
  width: 110px;
  border-radius: 25px;
  padding: 10px;
  border: 2px solid #6fb4ff;
  text-align: center;
  text-decoration: none;

  font-family: Google Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #6fb4ff;
}

.footer-left {
  position: absolute;
  width: 542px;
  height: 123px;
  margin-left: 212px;
  height: 348px;
  top: 249px;
  font-family: Google Sans;
  font-size: 40px;
  font-weight: 400;
  line-height: 65px;
  text-align: right;
}
.footer-left h4 {
  width: 542px;
  height: 123px;
  top: 2249px;
  left: 212px;
  font-family: Google Sans;
  font-size: 40px;
  font-weight: 400;
  line-height: 65px;
  text-align: right;
}
.footer .footer-left span {
  font-family: Google Sans;
  font-size: 64px;
  font-weight: 700;
  line-height: 65px;
  text-align: right;
}
.footer .footer-left .cryst-price {
  display: flex;
  justify-content: center;
  gap: 0;
  margin-top: -36px;
}

.footer .footer-left h6.last {
  width: 77px;
  height: 30px;
  margin-top: 56px;
  margin-left: 270px;
  font-family: Google Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-decoration: line-through;
  color: rgba(65, 160, 183, 1);
}
.footer .footer-left h6.current {
  width: 216px;
  height: 89px;
  margin-top: 24px;
  margin-left: 5px;
  font-family: Google Sans;
  font-size: 70px;
  font-weight: 700;
  line-height: 89.04px;
  text-align: center;
  color: rgba(227, 91, 62, 1);
}
.footer p {
  width: 400px;
  height: 96px;
  margin-left: 135px;
  margin-top: -26%;
  font-family: Google Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  color: #31546d;
}
.footer-left .shop-now {
  position: absolute;
  width: 180px;
  height: 56px;
  top: 457px;
  left: 214px;
}
.footer-left .shop-now a {
  position: absolute;
  border-radius: 20px;
  text-decoration: none;
  font-family: Google Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  width: 140px;
  padding: 10px;
  border-radius: 40px;
  background: linear-gradient(90deg, #75cceb 0%, #6fb4ff 100%);
}

.footer-right {
  position: absolute;
  width: 744px;
  height: 744px;
  margin-top: 150px;

  margin-left: 730px;
}
.footer-right .right-img {
  margin-top: 155px;
}

.inside-img img {
  width: 620px;
  height: 620px;
  margin-left: 50px;
}
.inside-img {
  margin-top: -90%;
}

.inside-circle {
  margin-top: -74%;
  margin-left: 75px;
}
.inside-circle img {
  width: 480px;
  height: 480px;
}
.inside-circle .main-img {
  width: 30px;
  height: 30px;
}
.main-img {
  margin-top: -50%;
  margin-left: 140px;
}
.main-img img {
  width: 200px;
  height: 200px;
}
.box {
  margin-top: -23.3%;
  position: absolute;
  width: 1540px;
  height: 369px;
  background: rgba(10, 41, 77, 0.8);
}
